---
import BasicLayout from "../../layouts/Basic.astro";
---

<BasicLayout title="Nihao" description="Hello" lang="en">
    <div>
        <h1>Hello World</h1>
        <p>This is a simple Astro page.</p>
    </div>
</BasicLayout>
