---
import { me } from '../config/me'
import { Image } from 'astro:assets'
---

<div
    class:list={[
        'flex-shrink-0 border border-black dark:border-white/20 h-24 w-24 overflow-hidden',
    ]}
>
    <div class='flex flex-col gap-2'>
        <Image src={me.avatar} alt='owocc' height={96} width={96} />
    </div>
</div>
